<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rocket Launcher</title>
</head>

<body>

    <h1>Rocket Launch Viewer</h1>
    <div> <span>The available rockets are 1, 2, 3, 7</span></div>
    <form action="/launch" method="POST">
        <label for="rocketId">Rocket ID:</label>
        <input type="text" id="rocketId" name="rocketId" required>
        <button type="submit">Launch</button>
    </form>

</body>

</html>